doctype 5
html
  head
    meta(charset='utf-8')
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="A cloud based Markdown document processor.")
    link(rel='stylesheet', href='/js/vendor/bootstrap/docs/assets/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/login.css')

    //if lt IE 9
      script(src='/js/vendor/bootstrap/docs/assets/js/html5shiv.js')


    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/js/vendor/bootstrap/docs/assets/ico/apple-touch-icon-144-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/js/vendor/bootstrap/docs/assets/ico/apple-touch-icon-114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/js/vendor/bootstrap/docs/assets/ico/apple-touch-icon-72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="/js/vendor/bootstrap/docs/assets/ico/apple-touch-icon-57-precomposed.png")
    link(rel="shortcut icon", href="/favicon.ico")

  body(data-spy="scroll", data-target=".navbar", data-offset="50")

    div.navbar-wrapper#nav-floater
      div.container
        div.navbar
          div.navbar-inner
            button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar

            div.nav-collapse.collapse
              ul.nav
                li.active
                  a(href='#markdowner') Markdowner

                li
                  a(href='#beta') Beta

                li
                  a(href='#features') Features

                li
                  a(href='#help') Help

    div.header-box
      div.header-box-inner
        div.header-box-style
          div.header-box-style-inner
        div.container
          img.screenshots.pull-right(src='/images/screenshots.png')
          div.header-box-caption
            h1#markdowner 
              span.muted 
                small Coming Soon
              | Markdowner

            p.lead 
              | Markdowner is a cloud based application for writing and sharing Markdown documents. You can register and log in  
              | using your Twitter account, and access your Markdown document on any computer where ever you are. 
              | You can also write and share slideshows using Markdown.


            //- a.btn.btn-large.btn-success(href='/auth/twitter')
            a.btn.btn-large.btn-success.disabled(href='#', data-toggle="tooltip", title="In closed Beta for now.")
              i.icon-user  
              |  Sign up or log in using Twitter now


    div.container

      div.alert
        p 
          strong Update Feb. 18th, 2013: 
          | Just fixed a bug preventing new Beta users to login. New users should now be able to log in.

      h2#beta Apply for Beta

      if errorMsg.length
        div.alert.alert-error
          p
            strong Error: 
            | This username as already requested a Beta invite.

      for msg in infoMsg
        div.alert.alert-success
          p= msg


      div.alert.alert-info.beta-request
        form.pull-right.form-horizontal(action='/wish', method='post')
          fieldset
            div.control-group
              input.span4(type='text', placeholder='E-mail for notification', name='email')

            div.control-group
              input.span4(type='text', placeholder='Twitter Username', name='username')
            
            div.control-group
              button.btn(type='submit') Apply!

        p For now, Markdowner is in early beta stages. You can request for a Beta invite by 
          | submitting your Twitter username and e-mail. 

        p The only thing your e-mail will be used
          | as, is to notify you when you get access to Markdowner. If you prefer not to submit your
          | e-mail, you can omit it – but you'd have to check manually for access 
          | by trying to <a href="/auth/twitter">log in here</a>. The e-mail address is only stored 
          | until the request is approved. When this happens, it is deleted from the system.

      
      h3 Issues and Feedback
      p If you are in the beta, and would like to help me out by posting ideas or issues, this can be done via <a href="https://github.com/mikaelbr/markdowner/issues">Github Issues</a>.

      h2#features Features

      div.row-fluid.marketing
        div.span6
          h4 Markdown Syntax
          p Markdowner uses <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> to 
            | easily create great formatted documents in HTML.


          p Markdowner uses <a href="http://ace.ajax.org/">ACE.js</a>, a high performance editor built with 
            | javascript. This allows for several themes with syntax highlighting.

          
          h4 Remark
          p  As an optional document setting, you can activate the Remark mode. <a href="http://github.com/gnab/remark">Remark</a> 
            | is a simplistic way to write in-browser Markdown based slideshows. See more info about Remark on this 
            | <a href="http://www.markdowner.com/document/511b9fea4913db020000000e">Markdowner Remark Demo</a> 
          
          h4 Cloud based
          p Markdowner is cloud based. All your changes, are stored in the clouds. If you hide the sidebar, 
            | the sidebar will be hidden the next time you log on, no matter from where. 

        div.span6
          h4 Instant Markdown preview
          p As you type, you are always just a hotkey away from compiling and previewing 
            | Your Markdown or Remark document. The document style will match the style of <a href="http://github.com">Github</a>. 

          
          h4 Share public documents
          p If you want either a Remark document, or a regular Markdown document to be 
            | available publicly, you can set so in the File Options, and share the Document Share Link.

          
          h4 Auto-saving
          p The documents are saved regularly, making sure you won't lose your content.

      h3 Coming soon

      div.row-fluid.marketing
        div.span6
          h4 Export to .md and .pdf files 
          p In a short time, exporting and downloading documents as .PDF files and .MD files will be possible. 
            | As for now, sharing is the only way to show your documents to others. 

          h4 Define your own Remark style 
          p Planned features includes a way to optinally define your own CSS styling on Remark Documents.

        div.span6
          h4 Dropbox synchronization
          p Some time, in the not too distant future, you can sync Markdowner with your Dropbox account, and 
            | your documents will automatically be stored on Dropbox as well.





      hr.featurette-divider


      h2#help Help
      div.alert.alert-info
        p Help and guides will soon be available.

      hr.featurette-divider


      footer
        p.pull-right.top
          a(href="#markdowner") Back to top
        p 
          a.twitter-share-button(href='https://twitter.com/share', 
            data-lang="en", data-counturl='http://www.markdowner.com/', 
            data-text='Markdowner: A cloud based application for writing and sharing Markdown documents and slide shows.',
            data-hashtags='markdowner',
            data-url='http://www.markdowner.com/login',
            data-urlcount='http://www.markdowner.com/') Tweet

          iframe(src="http://ghbtns.com/github-btn.html?user=mikaelbr&amp;repo=markdowner&amp;type=watch&amp;count=true",
              allowtransparency="true", frameborder="0", scrolling="0", width="110", height="20")

          iframe(src="http://ghbtns.com/github-btn.html?user=mikaelbr&amp;repo=markdowner&amp;type=fork&amp;count=true",
              allowtransparency="true", frameborder="0", scrolling="0", width="110", height="20")

          iframe(src="http://ghbtns.com/github-btn.html?user=mikaelbr&amp;type=follow&amp;count=true",
              allowtransparency="true", frameborder="0", scrolling="0", width="120", height="20")


    script(src="/js/vendor/jquery/dist/jquery.js")
    script(src="/js/libs/jquery.scrollTo.js")
    script(src="/js/vendor/bootstrap/docs/assets/js/bootstrap-scrollspy.js")
    script(src="/js/vendor/bootstrap/docs/assets/js/bootstrap-tooltip.js")
    script(src="/js/libs/login.js")

    include helpers/google
    


    script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      
